.final-content {
  img {
    @media (min-width: 350px) {
      height: 56px;
      width: 56px;
    }
    @media (min-width: 758px) {
      height: 80px;
      width: 80px;
    }
  }
  @media (min-width: 350px) {
    width: 100%;
    height: 100%;
    padding: 32px 24px;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 758px) {
    height: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  @media (min-width: 1024px) {
    width: 100%;
    height: 100%;
  }
}
