.label-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}
.slide-content {
  width: 100%;
  @media (min-width: 350px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  @media (min-width: 758px) {
    gap: 32px;
  }
}
input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid var(--purple-200);
}
