.plans-container {
  display: flex;
  @media (min-width: 350px) {
    flex-direction: column;
    gap: 8px;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
.plan-container {
  cursor: pointer;
  &:hover {
    border: 1px solid var(--purple-600);
  }
  @media (min-width: 350px) {
    width: 295px;
    height: 80px;
    padding: 16px;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    border: 1px solid var(--purple-200);
  }
  @media (min-width: 758px) {
    width: 348px;
  }
  @media (min-width: 1024px) {
    width: 138px;
    min-height: 160px;
    height: fit-content;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.plan-container.active {
  border: 1px solid var(--purple-600);
  background-color: var(--blue-50);
}
.plans {
  @media (min-width: 350px) {
    width: 295px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  @media (min-width: 1024px) {
    width: 100%;
    gap: 6px;
  }
}

/* slider */
.slider-container {
  @media (min-width: 350px) {
    display: flex;
    flex-direction: row;
    background-color: var(--blue-50);
    align-items: center;
    width: 295px;
    height: 48px;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
  }
  @media (min-width: 758px) {
    width: 348px;
    height: 48px;
  }
  @media (min-width: 1024px) {
    width: 450px;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blue-950);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--blue-950);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--blue-950);
}
input:checked + .slider::before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
