.sidebar-container {
  @media (min-width: 320px) {
    width: 100vw;
    height: 172px;
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    border-radius: 0;
  }
  @media (min-width: 758px) {
    width: 206px;
    height: 568px;
    padding: 40px 24px;
    background-image: url(../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 16px;
    border-radius: 10px;
    gap: 32px;
  }
  @media (min-width: 1024px) {
    width: 274px;
    padding: 40px 32px;
  }
}

.step-container {
  @media (min-width: 320px) {
    padding-top: 32px;
  }
  @media (min-width: 758px) {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 0;
  }
}

.chosen {
  background-color: var(--blue-200);
  color: var(--blue-950);
  border: none;
}
