.summary-container {
  @media (min-width: 350px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue-50);
    padding: 16px;
    border-radius: 8px;
  }
  @media (min-width: 758px) {
    gap: 16px;
  }
}
.arcade-summary-text {
  display: flex;
}
#addOns-pick-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.addOns-picked-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
hr {
  border: none;
  height: 1px;
  margin: 16px 0;
  background-color: var(--grey-500);
}
.summary-total {
  margin-top: 32px;
}
